<ul class="userlist">
    {{#users}}
        <li class="arrow"><a href="#/user/show/{{.}}">{{.}}</a></li>
    {{/users}}
    {{^users}}
        <li class="empty">No followers</li>
    {{/users}}
</ul>
